header {
  text-align: center;
  background-color: #e1e1e1;
  padding: 15px;
  margin-top: 20px;
}

img {
  margin: auto;
  display: block;
}

#image {
  max-width: 100%;
  height: auto;
  margin: auto;
}